/********* Menu CSS *********/

/* Header Styling */
#header {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 20px 9px #0000000a;
    height: auto;
    padding: 15px 10px 15px 10px;
    position: fixed;
    top: 0;
    z-index: 1;
}

/* Right Navigation Positioning */
.right-nav {
    float: right;
    position: relative;
    top: 7px;
}

/* Navbar Icons Styling */
.navbar-icons {
    display: inline;
}

.navbar-icons li {
    display: inline-block;
    padding-right: 10px;
    position: relative;
    top: -3px;
}

.navbar-icons li a {
    text-decoration: none;
    font-size: 14px;
    padding: 6px;
}

.navbar-icons li a i {
    font-size: 14px;
    position: relative;
    top: 2px;
    padding-right: 6px;
}

/* Adjust main content margin to accommodate fixed header */
main {
    margin-top: 75px;
}

/********* Custom Dropdown Styles *********/

/* Dropdown Wrapper */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Menu Styling */
.custom-dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 65%; /* Center alignment */
    transform: translateX(-50%);
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

/* Dropdown Menu Links */
.custom-dropdown-menu a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px !important; /* Ensure consistent font size */
    transition: background-color 0.3s ease;
}

/* Hover Effect for Dropdown Links */
.custom-dropdown-menu a:hover {
    background-color: #f1f1f1;
}

/* Show Dropdown Menu on Hover */
.custom-dropdown:hover .custom-dropdown-menu {
    display: block;
}

/********* Responsive Adjustments *********/

/* Responsive Dropdown Menu Positioning */
@media (max-width: 768px) {
    .custom-dropdown-menu {
        left: 0;
        right: 0;
        transform: none; /* Remove center alignment */
    }
}
